
<app-navbar></app-navbar>

<div class="container main-container">

  <div class="row">


    <div class="col-md-4">

      <h5>Marker</h5>

    </div>


    <div class="col-md-8">

      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">

        <agm-marker *ngFor="let marker of _ms.markers"
                    [latitude]="marker.lat"
                    [longitude]="marker.lng"
                    [title]="marker.title"
                    [markerDraggable]="marker.draggable">

          <agm-info-window>
            
            <strong>{{ marker.title }}</strong>
            <p *ngIf="marker.description">
              {{ marker.description }}
            </p>

          </agm-info-window>

        </agm-marker>

      </agm-map>

    </div>

  </div>

</div>
